body{
    background-color: rgb(190,215,193);
}
div{
    width: 290px;
    height: 500px;
    background-color:rgb(133,197,136);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    border-radius: 10px;
    border: 5px solid rgb(135,199,138) ;
    margin: 50px auto;
}
section
{
    margin: 15px 10px ;
    font-weight: 600;
}
h2,h3{
    margin:10px;

}
textarea
{
    height:75px;
    width:95%;
    padding: 2px;
    font-weight: 600;
}
.submit
{
    width: 90%;
    height: 30px;
    background-color: rgb(108,161,109);
    color: rgb(228, 236, 228);
    margin: 7px 12px;
    text-align: center;
}